<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>    
    <compilation targetFramework="4.0" />
    <httpRuntime maxRequestLength="2147483647" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IModelCreationService" closeTimeout="01:00:00"
          openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/ModelCreationService/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IModelCreationService"
        contract="ModelCreationService.IService" />
    </client>
    
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="ModelCreationService.Service">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IModelCreationService"
          contract="ModelCreationService.IService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    
    <behaviors>     
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- 為避免中繼資料資訊洩漏，部署之前請將下面的值設定為 false，並移除上面的中繼資料端點-->
          <serviceMetadata httpGetEnabled="true" />
          <!-- 為接收錯誤中的例外狀況詳細資料以用於偵錯用途，請將下面的值設定為 true。請在部署之前將該值設定為 false，以避免例外狀況資訊洩漏-->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization impersonateCallerForAllOperations="false" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
  </system.webServer>
  
  <appSettings>


    <!--==========================================         MCS連線字串           =================================================================-->

    <!--========================================================香港=============================================================================================================-->
    <add key="DBConnectionString" value="Server=tcw3vuzvyf.database.windows.net;Database=DukeAzureDB;User ID=test;Password=aB1234567;Trusted_Connection=False;Encrypt=True;" />
    <!--========================================================香港=============================================================================================================-->

    <!--========================================================新加坡=============================================================================================================-->
    <!--<add key="DBConnectionString" value="Server=phzd0zmaht.database.windows.net;Database=DukeAzureDB;User ID=DukeAzure1;Password=aB1234567;Trusted_Connection=False;Encrypt=True;"/>-->
    <!--========================================================新加坡=============================================================================================================-->

    <!--  
    ============================================================北美================================================================================================================
    <add key="DBConnectionString" value="Server=kcwatmfege.database.windows.net;Database=TEST_ALL;User ID=jerry75916;Password=Xatm092roosalsa;Trusted_Connection=False;Encrypt=True;"/> 
    ============================================================北美================================================================================================================
    -->

    <!--<add key="StorageConnectStringQueue" value="UseDevelopmentStorage=true"/>
    <add key="StorageConnectStringBlob" value="UseDevelopmentStorage=true"/>
    <add key="StorageConnectStringTable" value="UseDevelopmentStorage=true"/>-->

    <!--=========================================================北美=============================================================================================================-->
    <!--<add key="StorageConnectStringQueue" value="DefaultEndpointsProtocol=https;AccountName=xatm984;AccountKey=GNDIDkb7pS1cUhswa/gA+xDK544SJlfdBO46Q6wVQbCov4KIs8vf1H2KMsKlfMoWjIVhXTlxDU4lDWoxY6iNAQ=="/>
    <add key="StorageConnectStringBlob" value="DefaultEndpointsProtocol=https;AccountName=xatm984;AccountKey=GNDIDkb7pS1cUhswa/gA+xDK544SJlfdBO46Q6wVQbCov4KIs8vf1H2KMsKlfMoWjIVhXTlxDU4lDWoxY6iNAQ=="/>
    <add key="StorageConnectStringTable" value="DefaultEndpointsProtocol=https;AccountName=xatm984;AccountKey=GNDIDkb7pS1cUhswa/gA+xDK544SJlfdBO46Q6wVQbCov4KIs8vf1H2KMsKlfMoWjIVhXTlxDU4lDWoxY6iNAQ=="/>-->
    <!--=========================================================北美=============================================================================================================-->


    <!--=========================================================香港=============================================================================================================-->
    <add key="StorageConnectStringQueue" value="DefaultEndpointsProtocol=https;AccountName=hkblob;AccountKey=WS4YbC2KAmdF00OfXFZurWsOww3qcMEBq6o+9nLKuq8R9LUqy8xoJdMr0py/RUqYO5YFh7y7C9QG9mJbMK467A==" />
    <add key="StorageConnectStringBlob" value="DefaultEndpointsProtocol=https;AccountName=hkblob;AccountKey=WS4YbC2KAmdF00OfXFZurWsOww3qcMEBq6o+9nLKuq8R9LUqy8xoJdMr0py/RUqYO5YFh7y7C9QG9mJbMK467A==" />
    <add key="StorageConnectStringTable" value="DefaultEndpointsProtocol=https;AccountName=hkblob;AccountKey=WS4YbC2KAmdF00OfXFZurWsOww3qcMEBq6o+9nLKuq8R9LUqy8xoJdMr0py/RUqYO5YFh7y7C9QG9mJbMK467A==" />
    <!--=========================================================香港=============================================================================================================-->


    <!--=========================================================新加坡=============================================================================================================--><!--
    <add key="StorageConnectStringQueue" value="DefaultEndpointsProtocol=https;AccountName=singaporeblob;AccountKey=wz+PZWM1NvPNCCINCvgdHPkMnRCkOWALgqZINpqPWNyXqyjdKAx6vys5kVFzl5PFjOlJK2PT05HcltDg0j/mCQ=="/>
    <add key="StorageConnectStringBlob" value="DefaultEndpointsProtocol=https;AccountName=singaporeblob;AccountKey=wz+PZWM1NvPNCCINCvgdHPkMnRCkOWALgqZINpqPWNyXqyjdKAx6vys5kVFzl5PFjOlJK2PT05HcltDg0j/mCQ=="/>
    <add key="StorageConnectStringTable" value="DefaultEndpointsProtocol=https;AccountName=singaporeblob;AccountKey=wz+PZWM1NvPNCCINCvgdHPkMnRCkOWALgqZINpqPWNyXqyjdKAx6vys5kVFzl5PFjOlJK2PT05HcltDg0j/mCQ=="/>-->
    <!--=========================================================新加坡=============================================================================================================-->

    <!--<add key="StorageConnectStringQueue" value="DefaultEndpointsProtocol=https;AccountName=autolabstoragedemo;AccountKey=65xooDAfvYZ7bivpmnwRagTe9KmT48AolsEhizbkNgmtcCfOPOkXJE5Yds+2mkXait99hCZinEycVpoKLU/PDw=="/>
    <add key="StorageConnectStringBlob" value="DefaultEndpointsProtocol=https;AccountName=autolabstoragedemo;AccountKey=65xooDAfvYZ7bivpmnwRagTe9KmT48AolsEhizbkNgmtcCfOPOkXJE5Yds+2mkXait99hCZinEycVpoKLU/PDw=="/>
    <add key="StorageConnectStringTable" value="DefaultEndpointsProtocol=https;AccountName=autolabstoragedemo;AccountKey=65xooDAfvYZ7bivpmnwRagTe9KmT48AolsEhizbkNgmtcCfOPOkXJE5Yds+2mkXait99hCZinEycVpoKLU/PDw=="/>
   
    <add key="StorageConnectStringQueue" value="DefaultEndpointsProtocol=https;AccountName=lingpxsstorage1;AccountKey=a1lsg8XYGVTO4ne7LBZRWLeHnnUp+MxAR9VlA2mLwtWUf4iHDedGfotbiAyxIkhQYsn4iXr4n2U+688AVPjOig=="/>
    <add key="StorageConnectStringBlob" value="DefaultEndpointsProtocol=https;AccountName=lingpxsstorage1;AccountKey=a1lsg8XYGVTO4ne7LBZRWLeHnnUp+MxAR9VlA2mLwtWUf4iHDedGfotbiAyxIkhQYsn4iXr4n2U+688AVPjOig=="/>
    <add key="StorageConnectStringTable" value="DefaultEndpointsProtocol=https;AccountName=lingpxsstorage1;AccountKey=a1lsg8XYGVTO4ne7LBZRWLeHnnUp+MxAR9VlA2mLwtWUf4iHDedGfotbiAyxIkhQYsn4iXr4n2U+688AVPjOig=="/>-->




    <!--<add key="DBConnectionString" value="Server=tcw3vuzvyf.database.windows.net;Database=DukeAzureDB;User ID=test;Password=aB1234567;Trusted_Connection=False;Encrypt=True;"/>
    --><!--  
    <add key="DBConnectionString" value="Server=kcwatmfege.database.windows.net;Database=TEST_ALL;User ID=jerry75916;Password=Xatm092roosalsa;Trusted_Connection=False;Encrypt=True;"/>  
    <add key="DBConnectionString" value="Server=140.116.86.233;Database=vmachine;User ID=root;Password=zxcvb;Trusted_Connection=False;Encrypt=True;"/>
    --><!--
    
    <add key="StorageConnectStringQueue" value="UseDevelopmentStorage=true"/>
    <add key="StorageConnectStringBlob" value="UseDevelopmentStorage=true"/>
    <add key="StorageConnectStringTable" value="UseDevelopmentStorage=true"/>
    
   
    --><!--<add key="StorageConnectStringQueue" value="DefaultEndpointsProtocol=https;AccountName=xatm984;AccountKey=GNDIDkb7pS1cUhswa/gA+xDK544SJlfdBO46Q6wVQbCov4KIs8vf1H2KMsKlfMoWjIVhXTlxDU4lDWoxY6iNAQ=="/>
    <add key="StorageConnectStringBlob" value="DefaultEndpointsProtocol=https;AccountName=xatm984;AccountKey=GNDIDkb7pS1cUhswa/gA+xDK544SJlfdBO46Q6wVQbCov4KIs8vf1H2KMsKlfMoWjIVhXTlxDU4lDWoxY6iNAQ=="/>
    <add key="StorageConnectStringTable" value="DefaultEndpointsProtocol=https;AccountName=xatm984;AccountKey=GNDIDkb7pS1cUhswa/gA+xDK544SJlfdBO46Q6wVQbCov4KIs8vf1H2KMsKlfMoWjIVhXTlxDU4lDWoxY6iNAQ=="/>--><!--

    --><!--<add key="StorageConnectStringQueue" value="DefaultEndpointsProtocol=https;AccountName=hkblob;AccountKey=WS4YbC2KAmdF00OfXFZurWsOww3qcMEBq6o+9nLKuq8R9LUqy8xoJdMr0py/RUqYO5YFh7y7C9QG9mJbMK467A=="/>
    <add key="StorageConnectStringBlob" value="DefaultEndpointsProtocol=https;AccountName=hkblob;AccountKey=WS4YbC2KAmdF00OfXFZurWsOww3qcMEBq6o+9nLKuq8R9LUqy8xoJdMr0py/RUqYO5YFh7y7C9QG9mJbMK467A=="/>
    <add key="StorageConnectStringTable" value="DefaultEndpointsProtocol=https;AccountName=hkblob;AccountKey=WS4YbC2KAmdF00OfXFZurWsOww3qcMEBq6o+9nLKuq8R9LUqy8xoJdMr0py/RUqYO5YFh7y7C9QG9mJbMK467A=="/>--><!--


    --><!--<add key="StorageConnectStringQueue" value="DefaultEndpointsProtocol=https;AccountName=autolabstoragedemo;AccountKey=65xooDAfvYZ7bivpmnwRagTe9KmT48AolsEhizbkNgmtcCfOPOkXJE5Yds+2mkXait99hCZinEycVpoKLU/PDw=="/>
    <add key="StorageConnectStringBlob" value="DefaultEndpointsProtocol=https;AccountName=autolabstoragedemo;AccountKey=65xooDAfvYZ7bivpmnwRagTe9KmT48AolsEhizbkNgmtcCfOPOkXJE5Yds+2mkXait99hCZinEycVpoKLU/PDw=="/>
    <add key="StorageConnectStringTable" value="DefaultEndpointsProtocol=https;AccountName=autolabstoragedemo;AccountKey=65xooDAfvYZ7bivpmnwRagTe9KmT48AolsEhizbkNgmtcCfOPOkXJE5Yds+2mkXait99hCZinEycVpoKLU/PDw=="/>
   
    <add key="StorageConnectStringQueue" value="DefaultEndpointsProtocol=https;AccountName=lingpxsstorage1;AccountKey=a1lsg8XYGVTO4ne7LBZRWLeHnnUp+MxAR9VlA2mLwtWUf4iHDedGfotbiAyxIkhQYsn4iXr4n2U+688AVPjOig=="/>
    <add key="StorageConnectStringBlob" value="DefaultEndpointsProtocol=https;AccountName=lingpxsstorage1;AccountKey=a1lsg8XYGVTO4ne7LBZRWLeHnnUp+MxAR9VlA2mLwtWUf4iHDedGfotbiAyxIkhQYsn4iXr4n2U+688AVPjOig=="/>
    <add key="StorageConnectStringTable" value="DefaultEndpointsProtocol=https;AccountName=lingpxsstorage1;AccountKey=a1lsg8XYGVTO4ne7LBZRWLeHnnUp+MxAR9VlA2mLwtWUf4iHDedGfotbiAyxIkhQYsn4iXr4n2U+688AVPjOig=="/>-->

 
    <add key="DebugTableName" value="modelcreatedebug" />
    <add key="CloudDiv" value="CloudDiv" />
    <add key="EmulatedDiv" value="E:\" />
    <add key="TempDir" value="DTtemp\" />
    <add key="CompanyName" value="emrc" />
    <add key="MCRWorkQueueName" value="queuein" />
    <add key="JobEventTableName" value="MCRJobEventTable" />
    
    <add key="ModelBlobContainerName" value="tempmodel" />

    <add key="MCSModelInfoFileName" value="MCS_MCSModelInfo.xml" />
    <add key="MCSModelInfoFileName2" value="MCS_MCSModelInfo2.xml" />
    
  </appSettings>
  
</configuration>
